.vscode
.DS_Store
GarageProject-Python/
GarageProject.xcodeproj/
DerivedData/

GarageProject.xcodeproj/project.xcworkspace/xcuserdata/Robcecil.xcuserdatad/UserInterfaceState.xcuserstate
GarageProject.xcodeproj/project.xcworkspace/xcuserdata/Robcecil.xcuserdatad/UserInterfaceState.xcuserstate
GarageProject.xcodeproj/project.pbxproj


